// COLORS
$primary-color:       #003f8f !default;
$secondary-color:     #fff21a !default;
$off-black:           rgba(0, 0, 0, 0.87);
$off-white:           #fafafa;

// FONTS
$monospace:   "Roboto Mono", monospace;
$sanserif:    "Roboto", sans-serif;