@import '../sass/variables.scss';
@import 'materialize-css/sass/materialize.scss';
#post {

    a {
        color: $secondary-color;
    }
    
    .post-title {
        margin: 5rem 0 3.5rem;
        &:after {
            border-bottom: 3px solid lighten($primary-color, 35%);
            content: '';
            display: block;
            height: 100%;
            width: 160px;
            margin-top: 2.5rem;
        }    
    }

    img.post-cover {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        height: auto;
    }

    .post-meta {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
