@import '../../sass/variables.scss';
@import 'materialize-css/sass/materialize.scss';

.card {
  color: $off-black;
}

.card-title {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-floating > i.material-icons {
  color: $off-black;
}
