@import "../../sass/variables.scss";
@import "materialize-css/sass/materialize.scss";

#contact-form-container {
    background: lighten(#000, 10%);
}

#contact-form {
    padding: 4rem 0 3.5rem;

    h3 {
        line-height: 1.5;
        margin-top: 0.4rem;

        &::after {
            border-bottom: 3px solid $secondary-color;
            content: "";
            display: block;
            height: 100%;
            width: 80px;
            margin-top: 1.5rem;
        }
    }

    .form-actions {
        text-align: right;

        .btn {
            margin: 0 0 1rem 1rem;
            font-size: 1.25rem;

            &:first-child {
                margin-top: 2rem;
            }

            svg {
                margin: 0 -10px -6px 15px;
            }
        }
    }

    .input-field {
        [type=submit],
        [type=reset] {
            cursor: pointer;
        }

        [type=text],
        [type=url],
        [type=email],
        textarea {
            color: $off-white;
        }

        label {
            color: darken($off-white, 15%);
        }
    }
}

@media #{$small-and-down} {
    #contact-form .col {
        padding: 0;
    }
}

@media #{$medium-and-up} {
    #contact-form .col {
        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}
