@import "../../sass/variables.scss";
@import "materialize-css/sass/materialize.scss";

#page-footer {
    background: $secondary-color;
    padding: 3rem 0;

    a,
    .footer-copyright {
        color: $off-black;
        font-family: $monospace;
    }

    .social-icons {
        padding: 3rem 0 2rem;
        
        a {
            display: inline-block;
            vertical-align: middle;
            max-height: 42px;
            margin-right: 1.5rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
