@import "../../sass/variables.scss";
@import "materialize-css/sass/materialize.scss";

#page-footer {
    background: $secondary-color;
    padding: 3rem 0;

    a,
    .footer-copyright {
        color: $off-black;
        font-family: $monospace;
    }
}
